organization_id = "00000000-0000-0000-0000-000000000000"
region          = "fr-par"
zone            = "fr-par-1"
prefix          = "ref"

instance_type         = "PLAY2-PICO"
enable_load_balancer  = true
enable_public_gateway = false

admin_source_cidr = "203.0.113.10/32"
alert_emails      = ["you@example.com"]
